body {
    background-color: darkslategrey;
    color: azure;
}
.navigation {
    background-color: dodgerblue;
    text-align: center

    }
h3 {
    background-color: darksalmon
}

a{
    color: aqua;
}

p{
    color: darkorange;
}